<section id="welcome">
  <div class="text-center">

    <%= image "logo-home.png", class: "logo-home" %>
    <h1>Nuevo</h1>
    <hr>
    <button class="btn btn-primary">
        Conocenos
    </button>
  </div>
</section>
<section id="expertise">
  <div class="container">
    <div class = "row text-center">
      <h1> 10 AÑOS DE EXPERIENCIA EN PRODUCTOS QUÍMICOS </h1>
      <div class="col-md-4 col-xs-12">
        <div class="circular-img img-casa"> </div>
        Limpieza del hogar
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="circular-img img-farmacia"> </div>
        Industria farmacéutica
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="circular-img img-personal"> </div>
        Cuidado personal
      </div>
    </div>
    <div class="text-center ">
      <button class="btn btn-primary">
          Contactanos
      </button>
    </div>
  </div>
</section>
<section id="tipo-lavado">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 text-center">
        <h2> TIPOS DE LAVADO </h2>
        <hr>
        <p class="descripcion-lavado" >Jabón líquido</p>
        <div class="row">
          <div class="col-xs-3">
            <%= image "001_-lavado-normal.png" %>
          </div>
          <div class="col-xs-9 text-left">
            <p class="subtitulo">LAVADO NORMAL:</p>
            <p class="descripcion-lavado">Mida 100ml (equivale aproximadamente a media taza de té).</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%= image "002_ropa-sucia.png" %>
          </div>
          <div class="col-xs-9 text-left">
            <p class="subtitulo">ROPA MUY SUCIA:</p>
            <p class="descripcion-lavado">Mida 150ml.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%= image "003_dificiles.png" %>
          </div>
          <div class="col-xs-9 text-left">
            <p class="subtitulo">DIFICÍLES:</p>
            <p class="descripcion-lavado">De la medida seleccionada, aplique una pequeña cantidad de Jabón líquido PERVAL directamente sobre la mancha y frote. 
            Vierta el resto de la medida en el lavarropas.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%= image "004_lavado-a-mano.png" %>
          </div>
          <div class="col-xs-9 text-left">
            <p class="subtitulo">LAVADO A MANO:</p>
            <p class="descripcion-lavado">Coloque en un balde 100ml de Jabón líquido PERVAL para diez litros de agua y disuelva completamente.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <%= image "producto.png", style: "float:left;position:absolute;max-height:100%; " %>
        <%= image "lavarropas.png", style:"float:right; margin-top: 12em;" %>
      </div>
    </div>
  </div>
</section>
<section id="ventas">
  <div class="container text-center">
    <h2> VENTAS </h2>
    <hr>
    <div class="row">
      <div class="col-md-6 col-xs-12 text-center">
        <div class="col-md-12 col-xs-12">
          <button class="btn btn-mayorista">
            MAYORISTAS
          </button>  
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <div class="col-md-12 col-xs-12">
          <button class="btn btn-minorista">
            MAYORISTAS
          </button>  
        </div>
      </div>
    </div>
  </div>
</section>
<section id = "valores">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-text text-left ">
      <h1 align="center"> NUESTROS VALORES </h1>
      <hr>
      <p class="subtitulo">VÍNCULOS HUMANOS:</p>
      <p class="content" > Estamos convencidos de que todo crecimiento sólo es posible mediante los vínculos. Por eso, 
      proveemos un clima colaborativo y de cercanía entre quienes trabajan en la empresa y con la comunidad en la que
      desarrollan su vida cotidiana.
      </p>
      <p class="subtitulo">FAMILIARIDAD Y COMPROMISO:</p>
      <p class="content" > Somos una compañia cercana y comprometida con toda la cadena de valor que va desde proveedores
      y colaboradores hasta clientes y consumidores.
      </p>
      <p class="subtitulo">INTEGRIDAD:</p>
      <p class="content" > 
      Nos interesa generar resultados solo a través de una conducta transparente, coherente y responsable.
      </p>
      <p class="subtitulo">CULTURA INTERNA DE EMPRENDEDORES:</p>
      <p class="content" > 
      Valoramos el trabajo en equipo como pilar de crecimiento, y el conocimiento e intuición obtenidas a través de la experiencia.
      </p>
      <p class="subtitulo">CREATIVIDAD E INNOVACIÓN:</p>
      <p class="content" > 
      Buscamos soluciones técnicas innovadoras para poder ofrecer productos que cubran las distintas necesidades de las personas.
      </p>
      <p class="subtitulo">EXPERIENCIA:</p>
      <p class="content" > 
      Contamos con más de 10 años de experiencia desarrollando productos químicos de excelente calidad.
      </p>
    </div>
    <div class="col-md-6 col-xs-12 ">
      <%= image "foto_producto.jpg", style: "width:100%;height:100%;   " %>
    </div>
  </div>
</section>
<section id="mision">
  <div class="text-center">
    <p>  
      DESARROLLAR PRODUCTOS QUÍMICOS QUE MEJOREN LA VIDA DE LAS PERSONAS, <br>
      CUBRIENDO SUS NECESIDADES DE CALIDAD A COSTOS ACCESIBLES.
    </p>
    <hr>
    <p style="font-weight: bold;"> 
      MISIÓN 
    </p>
  </div>
</section>