<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jabón Perval para tus lavados">

    <%= stylesheet 'bootstrap' %>
    <%= stylesheet 'custom' %>
    <%= stylesheet 'font-awesome' %>
    <%= javascript 'bootstrap', 'jquery' %>

    <title>Perval</title>
    <%= favicon %>
  </head>
  <body>
    <%= render template: 'home/header' %>

    <%= yield %>
  </body>
</html>
