<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet 'bootstrap','custom' %>
    <%= javascript 'bootstrap', 'jquery' %>

    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <%= render template: 'home/header' %>

    <%= yield %>
  </body>
</html>
