<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jabón Perval para tus lavados">

    <%= stylesheet 'bootstrap' %>
    <%= stylesheet 'custom' %>
    <%= stylesheet 'font-awesome' %>
    <%= javascript 'jquery', 'bootstrap', 'spin.min' %>
    <%= javascript 'jquery.form' %>
    <%= javascript 'perval' %>

    <title>Perval</title>
    <%= favicon %>
  </head>
  <body>
    <div class="xcontainer-fluid">
      <%= render template: 'home/header' %>

      <%= yield %>
    </div>
  </body>
</html>
